{% extends 'base.html' %}

{% block title %} Payment {% endblock title %}

{% block content %}

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h2 class="my-5 h2 text-center">Deposit To Wallet</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-11 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" method="POST" action="{% url 'app:payment' %}"> {% csrf_token %}
             <h4>{{request.user.username}}</h4>
              <hr>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="cc-name">Name on card</label>
                  <input type="text" class="form-control" id="cc-name" placeholder="" required name = "fullname">
                  <small class="text-muted">Full name as displayed on card</small>
                  <div class="invalid-feedback">
                    Name on card is required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="cc-number">Credit card number</label>
                  <input type="text" class="form-control" id="cc-number" placeholder="" required name = "card_number">
                  <div class="invalid-feedback">
                    Credit card number is required
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">Expiration</label>
                  <input type="text" class="form-control" id="cc-expiration" placeholder="08/25" required name="expire">
                  <div class="invalid-feedback">
                    Expiration date required
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label for="cc-expiration">CVV</label>
                  <input type="text" class="form-control" id="cc-cvv" placeholder="" required name = "cvv">
                  <div class="invalid-feedback">
                    Security code required
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="amount">Amount</label>
                    <input type="text" class="form-control" required name="amount">
                  </div>
              </div>
              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to Deposit</button>
              {% if messages %}
              <hr class="mb-1">
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                  <span class="btn btn-success btn-lg btn-block" type="button">{{message}}</span>
                  {% else %}
                  <span class="btn btn-danger btn-lg btn-block" type="button">{{message}}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
<br><br><br><br><br><br><br><br>
{% endblock content %}