{% extends 'admin_templates/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<br><br><br><br> 
<!--Main layout-->
<main>
    <div class="container">

    {% include 'admin_templates/admin_nav.html' %}

    <h2 class="my-5 h2 text-center">Suite Requests</h2>
        <div class="table">
            <table class="table-stripped table-hovered table-bordered">
                <thead>
                    <tr>
                        <td>Accomodation ID</td>
                        <td>User ID</td>
                        <td>User Name</td>
                        <td>User Username</td>
                        <td>Suite ID</td>
                        <td>Suite Number</td>
                        <td>Wing Name</td>
                        <td>Wing Manager</td>
                        <td>Date</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requestss %}
                    <tr>
                        <td>{{request.id}}</td>
                        <td>{{request.user.id}}</td>
                        <td>{{request.user.first_name}}</td>
                        <td>{{request.user.username}}</td>
                        <td>{{request.room.id}}</td>
                        <td>{{request.room.room_number}}</td>
                        <td>{{request.room.wing.wing_name}}</td>
                        <td>{{request.room.wing.wing_manager.first_name}}</td>
                        <td>{{request.created_at}}</td>
                        {% if request.approved %}
                        <td><a href="{% url 'app:approve_or_disapprove' request.id %}" type="button" class="btn btn-danger">Disapprove</a></td>
                        {% else %}
                        <td><a href="{% url 'app:approve_or_disapprove' request.id %}" type="button" class="btn btn-success">Approve</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}hh