{% extends 'admin_templates/base.html' %}

{% block title %} CreatePackage  {% endblock %}

{% block content %} 

{% if request.user.is_authenticated %}
<br>
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <br><br>
        <h2 class="my-5 h2 text-center text-primary">Create Suite Package</h2>

        <!--Grid row-->
        <div class="row">

        <!--Grid column-->
        <div class="col-md-11 mb-4">

            <!--Card-->
            <div class="card">

            <!--Card content-->
            <form class="card-body" action="{% url 'app:create-package' %}" method="POST"> {% csrf_token %}
                <!--email-->
                <div class="md-form mb-5">
                    <input type="text" id="name" class="form-control" name="name" placeholder="Deluxe" required>
                    <label for="name" class="">Package Name</label>
                </div>

                <!--description-->
                <div class="md-form mb-5">
                    <input type="text" id="description" class="form-control" name="description" placeholder="ac, tv neat & conducive" required>
                    <label for="description" class="">Description</label>
                </div>

                <!--charge-->
                <div class="md-form mb-5">
                    <input type="number" id="charge" class="form-control" name="charge" placeholder="₦40" required>
                    <label for="charge" class="">Price Charge</label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Create Suite Package</button>
                {% if messages %}
                    <hr class="mb-1">
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <span class="btn btn-success btn-lg btn-block" type="button">{{message}}</span>
                    {% else %}
                    <span class="btn btn-danger btn-lg btn-block" type="button">{{message}}</span>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </form>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->
        {% else %}
        <br><br>
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="text-danger">You don't have access to this page 😹😹😹😹😹😹😹😹😹😹</h5>
            </div>
        </div>
        {% endif %}
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}