{% extends 'admin_templates/base.html' %}

{% block title %} CreateManager  {% endblock %}


{% block content %} 
<br>
<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container wow fadeIn">

        <!-- Heading -->
        <br><br>
        <h2 class="my-5 h2 text-center">Create Manager</h2>

        <!--Grid row-->
        <div class="row">

        <!--Grid column-->
        <div class="col-md-11 mb-4">

            <!--Card-->
            <div class="card">

            <!--Card content-->
            <form class="card-body" action="{% url 'app:create-manager' %}" method="POST"> {% csrf_token %}
                <!--email-->
                <div class="md-form mb-5">
                    <input type="text" id="full_name" class="form-control" name="full_name">
                    <label for="full_name" class="">Full Name</label>
                </div>

                <!--email-->
                <div class="md-form mb-5">
                    <input type="text" id="email" class="form-control" name="email">
                    <label for="email" class="">Email</label>
                </div>

                <!--matric-->
                <div class="md-form mb-5">
                    <input type="text" id="phone_no" class="form-control" name="phone_no">
                    <label for="phone_no" class="">Phone Number</label>
                </div>

                <!--address-->
                <div class="md-form mb-5">
                    <input type="text" id="address" class="form-control" name="address">
                    <label for="address" class="">Address</label>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Create Manager</button>
                {% if messages %}
                    <hr class="mb-1">
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <span class="btn btn-success btn-lg btn-block" type="button">{{message}}</span>
                    {% else %}
                    <span class="btn btn-danger btn-lg btn-block" type="button">{{message}}</span>
                    {% endif %}
                    {% endfor %}
                {% endif %}
            </form>

            </div>
            <!--/.Card-->

        </div>
        <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->
<br><br><br><br><br>
{% endblock %}