{% extends 'admin_templates/base.html' %}

{% block title %} ManageRoomService {% endblock %}

{% block content %}

<br><br><br><br> 
<!--Main layout-->
<main>
    <div class="container">

    {% include 'admin_templates/admin_nav.html' %}

    <h2 class="my-5 h2 text-center">Manage Room Service Requests</h2>
        <div class="table">
            <table class="table-stripped table-hovered table-bordered">
                <thead>
                    <tr>
                        <td>Request ID</td>
                        <td>User ID</td>
                        <td>FullName</td>
                        <td>Username</td>
                        <td>Suit ID</td>
                        <td>Suit Number</td>
                        <td>Subject</td>
                        <td>Message</td>
                        <td>Action</td>
                        <td>Date</td>
                    </tr>
                </thead>
                <tbody>
                    {% for requestss in room_service_requests %}
                    <tr>
                        <td>{{requestss.id}}</td>
                        <td>{{requestss.user.id}}</td>
                        <td>{{requestss.user.first_name}}</td>
                        <td>{{requestss.user.username}}</td>
                        <td>{{requestss.room.id}}</td>
                        <td>{{requestss.room.room_number}}</td>
                        <td>{{requestss.subject}}</td>
                        <td>{{requestss.message}}</td>
                        {% if requestss.status %}
                        <td><a href="{% url 'app:room-service-request-status' requestss.id %}" type="button" class="btn btn-danger">Pend</a></td>
                        {% else %}
                        <td><a href="{% url 'app:room-service-request-status' requestss.id %}" type="button" class="btn btn-success">Completed</a></td>
                        {% endif %}
                        <td>{{requestss.created_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}