{% extends 'base.html' %}

{% block title %} SuiteView {% endblock %}

{% block content %}
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <h1 class="mb-5 mt-5 text-primary text-center">SUITE {{suite.room_number}} PROFILE</h1>
    <hr>
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{suite.image1}}" class="img-fluid" alt="" style="height: 500px" width="98%"><br><br>
          <img src="{{suite.image2}}" class="img-fluid" alt="" style="height: 500px" width="98%"><br><br>
          <img src="{{suite.image3}}" class="img-fluid" alt="" style="height: 500px" width="98%"><br><br>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">#{{suite.wing.wing_number}} - {{suite.wing.wing_name}} Wing</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">{{suite.room_tag}}</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Suite {{suite.room_number}}</span>
              </a>
              <a href="">
                {% if suite.is_available %}
                <span class="badge green mr-1">AVAILABLE</span>
                {% else %}
                <span class="badge red mr-1">UNAVAILABLE</span>
                {% endif %}
              </a>
            </div>

            <p class="lead font-weight-bold">
              <span class="mr-1">
                <b>Suite Price @</b>
              </span>
              <span class="mr-1">₦{{suite.package.charge}}</span>
            </p>

            <p class="lead font-weight-bold">Suite Description</p>

            <p>{{suite.package.description}}</p>

            <p class="lead font-weight-bold">Suite Condition</p>

            <p>{{suite.condition}}</p>
            
            <form class="d-flex justify-content-left" action="{% url 'app:suite-request' %}" method="POST"> {% csrf_token %}
              {% if suite.is_available %}
                <input type="number" placeholder="Nights?" aria-label="Search" class="form-control" style="width: 110px" name="nights" required>
                <input type="hidden" name="room_id" value="{{suite.id}}">
                <button class="btn btn-primary btn-md my-0 p" type="submit">Place A Request
                  <i class="fas fa-shopping-cart ml-1"></i>
                </button>
              {% else %}
                <p class="text-danger">Suite Not Available</p>
              {% endif %}
              
              {% if messages %}
                <hr class="mb-1">
                <br><br>
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                  <span class="lead btn btn-success btn-md my-0 p" type="button">{{message}}</span>
                  {% else %}
                  <span class="lead btn btn-danger btn-md my-0 p" type="button">{{message}}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">
        <!--Grid column-->
        <div class="col-md-12 text-center">
          <h4 class="my-4 h4 text-danger">Important Information (RULES AND GUIDELINES)</h4>
          <h5>RULE</h5>
          <p class="text-danger h6">{{guidelines.rule}}</p>
          <hr>
          <h5>Guidelines</h5>
          <hr>
          <ol class="p">
            <li>{{guidelines.guideline1}}</li>
            <li>{{guidelines.guideline2}}</li>
            <li>{{guidelines.guideline3}}</li>
            <li>{{guidelines.guideline4}}</li>
            <li>{{guidelines.guideline5}}</li>
          </ol>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
  </main>
  <!--Main layout-->
{% endblock content %}