{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
<br><br><br><br>
  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container wow fadeIn">

      <!-- Heading -->
      <h1 class="text-primary text-center h2">ACCOMODATION MANAGEMENT SYSTEM</h1>
      <hr>
      <h2 class="my-5 h2 text-center blue-text">Login Form</h2>

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-10 mb-4">

          <!--Card-->
          <div class="card">

            <!--Card content-->
            <form class="card-body" action="{% url 'login-user' %}" method="POST"> {% csrf_token %}

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--firstName-->
                  <div class="md-form ">
                    <input type="text" id="username" class="form-control" name="username">
                    <label for="username" class="">Username</label>
                  </div>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-2">

                  <!--lastName-->
                  <div class="md-form">
                    <input type="password" id="password" class="form-control" name="password">
                    <label for="password" class="">Password</label>
                  </div>

                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <hr class="mb-4">
              <button class="btn btn-primary btn-lg btn-block" type="submit">Proceed to Login</button>
              {% if messages %}
              <hr class="mb-1">
                {% for message in messages %}
                  {% if message.tags == 'success' %}
                  <span class="btn btn-success btn-lg btn-block" type="button">{{message}}</span>
                  {% else %}
                  <span class="btn btn-danger btn-lg btn-block" type="button">{{message}}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </form>

          </div>
          <!--/.Card-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->
<br><br><br><br><br><br><br><br><br><br>
{% endblock content %}