  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'welcome-page' %}">
        <strong class="blue-text">HostelShare</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'welcome-page' %}"><b>Home</b></a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'view-rooms' %}"><b>Rooms</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'app:student-register' %}"><b>Student Page</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'app:student-dashboard' %}"><b>Student Dashboard</b></a>
          </li>
          {% endif %}

        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <!-- <li class="nav-item">
            <a class="nav-link waves-effect">
              <span class="badge red z-depth-1 mr-1"> 1 </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
          </li>-->
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout-user' %}" class="nav-link border border-light rounded waves-effect">
              <b class="text-danger mr-2">Logout</b>[<i class="fas fa-user mr-2"> {{ request.user.username}}] </i>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'login-page' %}"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'register-user' %}"><b>Register</b></a>
          </li>
          {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
  