  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar bg-custom">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'welcome-page' %}">
        <h1 class="text-custom"><strong class="text-custom h1">HMS</strong></h1>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'welcome-page' %}"><b>Home</b></a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'app:view-suites' %}"><b>Suites Dashboard</b></a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'about' %}"><b>About</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'contact' %}"><b>Contact</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'faq' %}"><b>FAQ</b></a>
          </li>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'logout-user' %}" class="nav-link border border-light rounded waves-effect">
              <b class="text-danger mr-2">Logout</b><strong>[<i class="fas fa-user mr-2">{{ request.user.username}}] </i></strong>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'login-page' %}"><b>Login</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'register-user' %}"><b>Register</b></a>
          </li>
          {% endif %}
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->
  